#logon{
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
    background: url(../../assets/login_bg.jpg);
    .logon_img{
        display: block;
        margin: 1rem auto;
        width: 60%;
    }
    input,button{
        line-height: 1rem;
        width: 70%;
        margin: 0 auto;
        display: block;
        text-indent: 0.3rem;
        font-size:0.4rem ;
    }
    button{
        border: 0;
        background: red;
        color:#fff;
        margin: 0.4rem auto;
    }
    .logon_p{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        font-size: 0.35rem;
    }
    u{
        color:red;
    }
}
